


body{
	color:#000305;
	font-family:Arial;
	font-size:18px;
	margin: 0% 10%;
	float:false;
	
}

a{
	text-decoration:none;
}

.mainHeader img{
	width:100%;
	height:auto;
}
.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.image h2 { 
   position: absolute; 
   top: 150px; 
   left: 350px; 
   width: 100%;
	font:Sans-serif;
	font-size:50px;
	font-style:bold;
	color:#cc00ff;
}
.image qw{
	
}
.mainHeader nav{
	background-color:#333333;
	border-radius:8px;
}
.mainHeader nav ul{
	list-style-type:none;
	padding-left:25%;
	
}

.mainHeader nav ul li{
	display:inline-block;
	margin:15px 0px;
	
}

.mainHeader nav ul li a{
	color:#ffffff;
	padding :15px 10px;
	border-radius:5px;
}
.mainHeader nav ul li a:hover ,a:active{
	background-color:#999999;
	
}
.mainContainer{
	margin-top:10px;
	width:100%;
	height:500px;
    margin-bottom:100px;
	
}



.mainContainer .post1{
	float:left;
	background-color:#999999;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	padding:10px;
	width:70%;
	
}

.mainContainer .post1 article  .pro_img{
	width:150px;
}
.pro_db_img{
	width:120px;
	padding-left:220px;
}

.mainContainer .post1 article a img{
 
}
.mainContainer .post1 article p{
 font-family:Arial;
 font-style:normal;
 font-size:18px;
 text-align:justify;
 text-indent:5px;

}


.mainContainer .post1 .post1Header{;
	-moz-border-radius:6px 6px 0px 0px ;
	-webkit-border-radius:6px 6px 0px 0px ;
	color:#ffffff;
	margin-top:-20px;
}

.mainContainer .sidebar header{
color:#ffffff;
margin-top:-20px;
}
.mainContainer .sidebar {
	background-color:#999999;
	width:24%;
	float:right;
	border-radius:6px 6px 6px 6px ;
	-moz-border-radius:6px 6px 6px 6px ;
	-webkit-border-radius:6px 6px 6px 6px ;
	margin-left:16px;
	margin-right:0px;
	padding:6px;
	
	

}

.fb_img{
	width:20px;
	margin-right:10px;
}
.g_img{
	width:20px;
	margin-right:10px;
}

.bottom span{
	background-color:#333333;
	width:100%;
	float:bottom;
	position:absolute;
	
}

.footer{
	background-color:#333333;
	margin-top:10px;
	height:50px;
	text-align:center;
	margin-top:25px;
	


}
.footer h3{
	padding-top:15px;
}







@media only screen and (max-width: 400px){

body{
	color:#000305;
	font-family:Arial;
	font-size:18px;
	margin: 0% 0%;
	float:false;
	
}
.mainHeader img{
	width:100%;
	height:200px;
}
.mainHeader nav{
	background-color:#333333;
	border-radius:8px;
}
.mainHeader nav ul{
	list-style-type:none;
	padding-left:0px;
	
}
.mainContainer .post1{
	padding:0px;
	width:100%;
	
}
.mainContainer .post1 article{

}
.mainContainer .post1 article p{
 font-family:Arial;
 font-style:normal;
 font-size:18px;
 text-align:justify;
 text-indent:5px;
 padding:8px;

}


.mainContainer .post1 .post1Header{;
	-moz-border-radius:6px 6px 0px 0px ;
	-webkit-border-radius:6px 6px 0px 0px ;
	color:#ffffff;
	margin-top:-20px;
	padding: 8px 0px 0px 8px;
}
.mainContainer .sidebar {
	background-color:#999999;
	width:24%;
	float:right;
	border-radius:6px 6px 6px 6px ;
	-moz-border-radius:6px 6px 6px 6px ;
	-webkit-border-radius:6px 6px 6px 6px ;
	margin-left:16px;
	margin-right:0px;
	padding:6px;
	display:none;
	

}
.image h2 { 
   position: absolute; 
   top: 80px; 
   left: 60px; 
   width: 100%;
	font:Sans-serif;
	font-size:30px;
	font-style:bold;
	color:#cc00ff;
}
.pro_db_img{
	width:120px;
	padding-left:120px;
}
}