body{
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

.header_img{
    width: 100%;
}

.navigation{
    background-color: grey;
    height: 60px;
    margin: auto 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
                
}
.navigation nav{
    text-align: center;
    padding-top: 4px;
}
.navigation nav ul li{
    display: inline;
    
}

.navigation nav ul li a{
    text-decoration: none;
    padding:  20px;
    color: #bc07f8;
    color: white;

}

.navigation nav ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: #9e7cdc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}
.navigation nav ul li a:active{
    text-decoration: none;
    color: white;
    background-color: #9e7cdc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}

.side_bar{
    background-color: #d2d2d2;
    width: 24%;
    height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.side_bar h1{
    background-color: grey;
    text-align-last: center;
    margin-top: 0px;
     -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px 5px 0px 0px;
    color: #d800ff;
}
.container{
    background-color: #d2d2d2;
    width: 72%;
    height:500px;
    float: right;
    margin-top: 20px;
    margin-bottom:30px;
    margin-right: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
    color: #d800ff;
    text-decoration: underline;
}

.footer{
    background-color: grey;
    height: 50px;
    position:relative;
	clear:both;
    text-align: center;
    padding-top: 8px;
    color: white;
}

.projects {
    margin-left: 20px;
}
.projects h2{
}

.projects img{
    width: 200px;
}
.pro_det{
    float: right;
    clear: both;
    width:40%;
    margin-right: 40px;
    
}

.sc_cont{
    margin-top: 40px;
}
.sc{
    margin: auto 10px;
    
}

@media only screen and (max-width: 500px){
    
 .navigation{
    background-color: grey;
    height: 200px;
    margin: 0px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
                
}
.navigation nav{
    text-align: left;
    padding-top: 4px;
}
.navigation nav ul li{
    display: block;
    padding-top: 20px;
    width: 200px;
    
}

.navigation nav ul li a{
    text-decoration: none;
    padding:  20px;
    color: #bc07f8;
    color: white;
}  
 
 .side_bar{
    background-color: #d2d2d2;
    width: 24%;
    height: 500px;
    float: none;
    margin-top: 20px;
    margin-left: 10px;
    display: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}   
 
 .container{
    background-color: #d2d2d2;
    width: 95%;
    height:800px;
    float: right;
    margin-top: 20px;
    margin-bottom:30px;
    margin-right: 10px;
    margin-left: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 .projects img{
    width: 100px;
}
.pro_det{
    float: none;
    clear: both;
    width:auto;
    
    margin-right: 40px;
    
}   
}